@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: rgb(34, 34, 34);
    color: rgb(212, 212, 212);
    font-family: 'Roboto', sans-serif;
}

.header{
    height: 20px;
    background-color: rgb(75, 75, 75);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
}

.footer{
    height: 40px;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 15px;
}

.productList{
    display: grid;  
    grid-template-columns: repeat(3, calc(40%));
    justify-content: center;
}

.productItem{
    display: flex;
    flex-direction: column;
    margin: 20px 170px;
    padding: 10px;
    border: 2px solid rgb(212, 212, 212);
    box-shadow: 5px 5px 5px black;
}

.starList{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.active {
	color: orange;
}

